{% extends "layout.html" %}
{% from "_form.html" import field %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
  <h1 class="mb-4">{{ title }}</h1>
  <div class="card col-lg-8">
    <div class="card-body">
      <form method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ field(form.title) }}
        {{ field(form.description) }}
        {{ field(form.status) }}
        {{ form.submit(class="btn btn-success") }}
        <a class="btn btn-secondary" href="{{ url_for('tasks.index') }}">Cancelar</a>
      </form>
    </div>
  </div>
{% endblock %}
